.main {
  width: 100%;
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/12932215/pexels-photo-12932215.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  position: relative;
}
.main-b{
  width: 100%;
  height:400vh;
  background-image: url('https://images.pexels.com/photos/12932215/pexels-photo-12932215.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');

}
.main-h1{
  position: absolute;
  color:white;
  text-align: center;
  width:100%
}
.card-body{
  position: absolute;
  height:auto;
  margin:80px 40px;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:5px
}

.content{
  display: grid;
  grid-template-columns: auto auto ;
}
.card{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background-color:white;
  border-radius:10px;
  padding:10px
  /* width:300px;
  height:300px */
}
.card img{
  width:200px;
  height:150px
}
.card button{
  width:100%;
  padding: 10px 20px;
  font-size: 1rem;
  color: #000000;
  cursor:pointer 
} 
.card button:hover{
  color: blue;
  cursor:pointer 
} 



.left-section {
  /* display: flex;
  justify-content: center;
  align-items: center; */

 
}

.left-image {
  width: 80%;
  height: 100vh;
  border-radius: 0px 300px 300px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Right section styling */
.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  color: #fff;
}

.right-section h1 {
  font-size: 4.5rem;
  margin-bottom: 10px;
}

.right-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.action-watch {
  width:100%;
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  
  background-color: transparent; 
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom:5px
}
.action-read {
  width:100%;
  padding: 10px 20px;
  font-size: 1rem;
  color: #000000;
  
  background-color: white; 
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom:5px
}

.action-button:hover {
  background-color: #0056b3;
}
